*{
    margin: 0px;
    padding: 0px;
}  
                        /* Common shared style */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
                        /* nav related style started */
nav{
    display: flex;
    background-color: rgb(43, 42, 42);
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.logo-img{
    width: 90px;
    height: 50px;
}
nav >ul{
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 40px;
    font-size: 20px;
    color:white;
}

li:hover{
    color: aqua;
    cursor: cell;
}


                        /* nav related style end */

.btn, .btn-sign-up{ 
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    padding: 20px 20px;
    border: none;
    }
.btn:hover{
    color: aqua;
    cursor: cell;
}

.btn-sign-up{
    margin: 10px;
}
                        /* banner style starts */
.banner-container, .Promotion-container{
    display: flex;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);
    padding:40px 40px 0px 180px ;
    align-items: center;
   
}

.banner-description, { 
    max-width: 780px;
}
.banner-picture{
    width: 400px;
    height: 500px;
}

p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 24px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 20px;
}

                            /* banner ends */
                            /* promotion starts */

.Promotion-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.promotion-description{
    width: 50%;
    text-align: center;
    font-size: 30px;
}
.promotion-img{
    display: flex;
    justify-content: center;
    width: 50%;
} 
span{
    color: #E55473;
}
                                /* promotion starts */


/* feature section end */

                                /* service section starts */
.service-container{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    margin-left: 170px;
    margin-right: 170px;
}
.ser-img-1{
    padding: 20px 30px 0px 40px; 
}
                                /* service section end */
                                /* social media section starts */
.social-media-container{
    margin-top: 15px;
    margin-left: 170px;
    margin-right: 170px;
}
.social-media-title{
    text-align: center;
    font-size: 30px;
}
.s-m-img1, .s-m-img2, .s-m-img3, .s-m-img4 {
    width: 200px;
    height: 300px;
    gap: 05px;
}
.s-m-img3{
   background-color: #f7a8b9;
}
.s-m-img4{
    background-color: #b9b5b6;
 }
.social-media-pic{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*Social media section end  */

                                 /* deal section starts */
.deal-container{
    background-image: url("./Flower Asset//Rectangle\ 9.png");
    background-position:cover ;
    background-repeat: no-repeat;
    width: 98%;
    height: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    display: flex;
   

}

.deal-title{
    text-align: center;
    font-size: 30px;

   
}
.deal-info{
    margin-top: 40px;
}
.input-info{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}




.btn-2{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    border: none;
    padding: 10px;
   
}
.input-div{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
  
    
}
.input-area{
    width: 400px;
    height: 30px;
    border-radius: 10px;

}

.input-field{
    border-radius: 10px;
}
                                        /* deals section end */

                                       

                                    /* features starts */
.feature-container{
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 150px;
}

.feature-description-1{
text-align: center;
font-size: 30px;

} 
.feature-galary-1{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.galary-image-1{
    background:#f7a8b9 ;
    box-sizing: border-box;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    padding: 70px 50px 0px 50px ; 
    width: 310px;
    height: 380px;
    margin-bottom: 20px;
    
}

.img-info-1 {
    text-align: center;
} 

.galary-image-2{
    background:rgba(5, 151, 160, 0.15);;
    box-sizing: border-box;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    padding: 70px 50px 0px 50px ; 
    width: 310px;
    height: 380px;
    margin-bottom: 20px;
}

.galary-image-3{
    background: rgba(71, 125, 17, 0.15);
    box-sizing: border-box;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    padding: 70px 50px 0px 50px ; 
    width: 310px;
    height: 380px;
    margin-bottom: 20px;
}
                            /* features ends */
                            /* footer starts */
 .footer-container{

    background-color: rgb(43, 42, 42);
    text-align: center;
    padding: 20px;
    align-items: center;
    color: #FFF;
    margin-top: 25px;
    height: 200px;

} 
 
.footer-title{
     padding-top: 05px;
}

.copy-right{
    color: #FFF;
    
}
.footer-description{
    color: #FFF;
}

                                            /* footer ends */
